---
import Wrapper from "../layouts/Wrapper.astro";
import CardPixelated from "../components/CardPixelated.astro";
import LogoGithub from "../components/LogoGithub.astro";
import LogoLinkedIn from "../components/LogoLinkedIn.astro";

const workTechLinks = [
    {
        techLogo: 'react.svg',
        techName: 'React',
        techUrl: 'reactjs.org'
    },
    {
        techLogo: 'redux.svg',
        techName: 'Redux',
        techUrl: 'redux.js.org'
    },
    {
        techLogo: 'styled_components.svg',
        techName: 'Styled Components',
        techUrl: 'styled-components.com/'
    },
    {
        techLogo: 'koa.svg',
        techName: 'Koa',
        techUrl: 'koajs.com/'
    },
    {
        techLogo: 'azure.svg',
        techName: 'Azure SQL',
        techUrl: 'azure.microsoft.com/en-us/products/azure-sql/database/'
    },
];
const playTechLinks = [
    {
        techLogo: 'solidjs.svg',
        techName: 'SolidJS',
        techUrl: 'www.solidjs.com'
    },
    {
        techLogo: 'astro.svg',
        techName: 'Astro',
        techUrl: 'astro.build'
    },
    {
        techLogo: 'tailwindcss.svg',
        techName: 'Tailwind',
        techUrl: 'tailwindcss.com'
    },
    {
        techLogo: 'trpc.svg',
        techName: 'tRPC',
        techUrl: 'trpc.io'
    },
    {
        techLogo: 'postgresql.svg',
        techName: 'PostgreSQL',
        techUrl: 'www.postgresql.org'
    },
];
---

<Wrapper>
	<main
		class="flex flex-col justify-items-center max-w-4xl p-8 tracking-tight"
	>
		<section class="flex flex-col justify-items-center mb-6 md:mb-10">
			<img
				class="mx-auto my-10 w-1/5"
				src="pixel_owen_animated_front_180x288.gif"
			/>
			<h1 class="text-slate-800 text-6xl mb-5 drop-shadow-sm">
				Hi there, I'm <span class="font-bold">Owen Waring</span>
			</h1>
			<p
				class="text-slate-500 leading-normal tracking-tight text-2xl mb-3"
			>
				A full stack engineer with deep Product Management and UX Design
				experience. I love balancing implementation details against user
				needs and business goals. Bring me onto your projects and watch
				me mind meld with your design and process folks to build amazing
				solutions.
			</p>
		</section>
		<section class="flex md:flex-row flex-col">
			<CardPixelated title="Current Work Stack" color="teal" techLinks={workTechLinks} />
			<CardPixelated title="Current Play Stack" color="purple" techLinks={playTechLinks} />
		</section>
		<h2 class="text-xl text-slate-500 mt-8 mb-4">Contact Me</h2>
		<section class="flex md:flex-row flex-col">
			<a
				class="text-slate-500 hover:text-slate-50 hover:bg-slate-500 flex flex-1 flex-row border border-slate-300 hover:border-slate-500 p-6 rounded-lg md:mr-6 md:mb-0 mr-0 mb-6"
				href="https://linkedin.com/in/owenwaring"
			>
				<div class="h-12 w-12 mr-6">
					<LogoLinkedIn />
				</div>
				<div>Networking and Employment Inquiries</div>
			</a>
			<a
				class="text-slate-500 hover:text-slate-50 hover:bg-slate-500 flex flex-1 flex-row border border-slate-300 hover:border-slate-500 p-6 rounded-lg"
				href="https://github.com/pixelready"
			>
				<div class="h-12 w-12 mr-6">
					<LogoGithub />
				</div>
				<div>Open Source and Project Collaboration</div>
			</a>
		</section>
		<!-- conditional classes: text-purple-100 text-sky-100 bg-purple-600 bg-sky-600 -->
	</main>
</Wrapper>
